<mat-list>
  <img src="{{imgSrc}}" alt="Latino Youth Leadership Academy" class="center image-latino-logo" />
  <mat-divider> </mat-divider>

  <p class="center title"> Latino Youth Leadership Academy Orange County</p>



  <footer class="footer">
    <p class="center title">Founder: Ariel Meza</p>
    <p class="center title">Located at Orange County</p>

    <div class="center title">
      <mat-icon >phone </mat-icon>
      <p>(213) 926-9766</p>
    </div>

    <div class="center title">
      <mat-icon >email</mat-icon>
      <p> david.9706@hotmail.com</p>
    </div>
  </footer>

</mat-list>

