.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-latino-logo{
  height: 30%;
  width: 20%;
}

.title{
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 26px;
  margin-top: 2%;
  text-align: center;
}
