.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title-align{
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 26px;
  margin-top: 2%;
  text-align: center;
}

.center-align{
  width: 40%;
  text-align: center;
}

.mat-tab-link{
  background: black;
  text-align : center;
}


/*.slideWindow{*/
/*  position:absolute;*/
/*  z-index: 3;*/
/*  background-image: url("../../assets/images/newyork.jpg");*/
/*  width: 100%;*/
/*  max-height: 100%;*/
/*  object-fit: cover;*/
/*  opacity: 0.9;*/
/*  background-repeat: no-repeat;*/
/*}*/

