
<!--<div class="container" fxFlex="row" *ngFor="let title of this.class.classes">-->
<!--  <mat-card class="design-mat">-->
<!--      <mat-card-title class="title-align">-->
<!--        <button mat-raised-button (click)="openDialog(title)">{{title}}</button>-->
<!--      </mat-card-title>-->
<!--  </mat-card>-->
<!--</div>-->
<div class="center">
  <div class="row">
    <div class="column" *ngFor="let title of this.class.classes">
      <button mat-raised-button (click)="openDialog(title)" class="center-button">{{title}}</button>
      <button class="center-emailbutton">&#9993;</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

